[Unit]
Description=Populate overlay tmpfs
Requires=mnt.mount
After=mnt.mount
DefaultDependencies=false

[Service]
ExecStart=/bin/mkdir -p /mnt/home /mnt/var /mnt/workdir/home /mnt/workdir/var
